body {
  background-image: url("https://wallpapercave.com/wp/wp4924795.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: block;
  margin: 0;
  padding: 0;
  
}

.wrapper {
  color: antiquewhite;
  text-shadow: 2px 2px 8px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.404);
  outline-style: solid;
  outline-color: rgb(238, 216, 16);
  outline-width: 3px;
  padding: 0 20px 20px 20px;
}

img {
  display: block;
  margin: 0 auto;
}
